.multilogo{
    margin: 30px;
    font-weight: 700;
    color: #ff4a17;
}

@media (min-width: 999px) and (max-width: 2500px) {
    .scroll-to-section{
        display: none;
    }
}


@media (min-width: 400px) and (max-width: 2500px) {
    .section-heading{
        margin-top: 20px;
    }
}

.empaquetador{
    display: flex;
    margin-top: -35px;
}